*{ margin: 0;padding: 0;}
.css-1wrcr25  { background-color:rgb(0, 2,53) ;}
.css-1vencpc {display: flex;}

.css-k7vsyb h1{ text-align: center;}
.css-1kyxreq{ display: flex; justify-content: end;}

.css-1fv8s86 p{font-size:x-large; text-align: center; color: whitesmoke; display: flexbox;margin-block-start: auto;}
.css-10pw50 egzxvld1{display: none;}

.css-k3w14i{ display: flex; justify-content: center; text-align: center;}
.css-1k0camb{color: black;}


.css-k1vhr4{background-color: rgb(0, 2,53);}
.css-1yy6isu p {font-size: large;}
.st-ae{text-align: center; left: 12px;}
.st-au{ text-align: center; cursor: pointer; background: hsl(hue, saturation, lightness);}
.css-1v0mbdj image{ border-radius: 25px;}
/* .css-6qob1r{background-color: hsl(61, 76%, 55%); } */
/* .css-1dj0hjr{color: black;}  */
.stSelectbox{ display: block; width: auto;}
